 .body
        {
            font-family: Arial, Helvetica, sans-serif;
         height: 100vh;
         display:flex;
         justify-content: center;
         align-items: center;
        } 
        .login_container
        {
          background:white;
          padding: 30px 40px;
          border-radius: 10px;
          box-shadow: 0px 0px 15px rgb(0, 0, 0);
          width: 320px;

        }
        .login_container h2
        {
            text-align: center;
            margin-top: 20px;
        }
        .input-box
        {
            margin-top: 15px;
        }
        .input-box label{
            font-size: 14px;
        }
        .input-box input
        {
       width: 100%;
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 5%;
       margin-top: 5px;
       font: size 15px ;
        }

    .btn
    {
        width: 100%;
        padding: 10px;
        background: #ff0011;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        
    }

